<!DOCTYPE html>
<html>
<head>
    <title>Smoker Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script>
        const socket = new WebSocket(`ws://192.168.254.46:8000/ws`);
        socket.addEventListener("open", (event) => {
            console.log("opened");
        });
        socket.addEventListener("message", (event) => {
            //console.log("Message from server ", event.data);
            let number = event.data;
            let numberElement = document.getElementById("number");
            numberElement.innerHTML = number;
        });
        /*
        socket.onmessage = function(event) {
            console.log(event.data);
            const number = event.data;
            const numberElement = document.getElementById("number");
            numberElement.textContent = number;
        };
        */
    </script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Smoker Temperatures</h1>
            <div class="box">
                <p class="subtitle">Smoker Info: <span id="number"></span></p>
            </div>
        </div>
    </section>
</body>
</html>
